<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pebbledon" value="Data Source=WIN7-PC; Initial Catalog=Pebbledon; User ID=sa; pwd=123456;"/>
    <add key="senderEmail" value="linjiajianyuan@gmail.com"/>
    <add key="messageFromPassword" value="linluoyao0214"/>
    <add key="messageToEmail" value="linjiajianyuan@gmail.com"/>
    <add key="smtpClient" value="smtp.gmail.com"/>
    <add key="smtpPortNum" value="587"/>
    
    <add key="firstMileAccount" value="TestUsername"/>
    <add key="firstMilePassword" value="somePassword"/>
    
    <add key="FromName" value="Jack Ng"/>
    <add key="FromAddress1" value="15046 Nelson Ave #15"/>
    <add key="FromAddress2" value=""/>
    <add key="FromCity" value="City Of Industry"/>
    <add key="FromRegion" value="CA"/>
    <add key="FromRegionCode" value="90601"/>
    <add key="FromCountry" value="US"/>
    <add key="FromCountryCode" value="US"/>
    <add key="FromPhoneNum" value="6264008832"/>
  
    <add key="DHLGMParcelDirectCountryList" value="JP,AU,NZ,KR,CA,MX,AL,AD,AT,BY,BE,BA,BG,HR,CY,CZ,DK,EE,FO,FI,FR,DE,GI,GR,HU,IS,IE,IT,LV,LI,LT,LU,MK,MT,MD,MC,NL,NO,PL,PT,RO,RU,SM,RS,SK,SI,ES,SE,CH,UA,GB,VA,RS,IM,RS,ME"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DhlApi" />
                <binding name="DhlApiSecure">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ifslabelservice.com/api/DhlApi.svc"
                binding="basicHttpBinding" bindingConfiguration="DhlApi" contract="DhlApi.IDhlWebApi"
                name="DhlApi" />
            <endpoint address="https://ifslabelservice.com/api/DhlApi.svc"
                binding="basicHttpBinding" bindingConfiguration="DhlApiSecure"
                contract="DhlApi.IDhlWebApi" name="DhlApiSecure" />
        </client>
    </system.serviceModel>
</configuration>