<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exceptList" value="Iteza0923,framelegend,garyng629"/>
    <add key="exceptSKUList" value ="31021-"/>
    <add key="marketplace" value="Data Source=WIN7-PC; Initial Catalog=Marketplace; User ID=sa; pwd=123456;"/>
    <add key="senderEmail" value="linjiajianyuan@gmail.com"/>
    <add key="messageFromPassword" value="linluoyao0214"/>
    <add key="messageToEmail" value="linjiajianyuan@gmail.com"/>
    <add key="smtpClient" value="smtp.gmail.com"/>
    <add key="smtpPortNum" value="587"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>