<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SwsimV50Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="SwsimV50Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://swsim.testing.stamps.com/swsim/swsimv50.asmx"
                binding="basicHttpBinding" bindingConfiguration="SwsimV50Soap"
                contract="ServiceReference1.SwsimV50Soap" name="SwsimV50Soap" />
        </client>
    </system.serviceModel>
</configuration>