<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--beautyequation,kalegend,kadepot-->
    <add key="exceptList" value=""/>
    <add key="marketplace" value="Data Source=KADEPOT-THINK\SQLEXPRESS; Initial Catalog=Marketplace; User ID=sa; pwd=123456;"/>
    <add key="pebbledon" value="Data Source=KADEPOT-THINK\SQLEXPRESS; Initial Catalog=Pebbledon; User ID=sa; pwd=123456;"/>
    <add key="senderEmail" value="linjiajianyuan@gmail.com"/>
    <add key="messageFromPassword" value="linluoyao0214"/>
    <add key="messageToEmail" value="linjiajianyuan@gmail.com"/>
    <add key="smtpClient" value="smtp.gmail.com"/>
    <add key="smtpPortNum" value="587"/>
    <add key="defaultCarrier" value="USPS"/>
    <add key="defaultShippingMethod" value="Ground"/>
    <add key="filePath" value="C:\\Users\\administrator.OPTIONGROUPINC\\Desktop\\Jobs\\UpdateAmazonInventory\\"/>
    <add key="resultPath" value="C:\\Users\\administrator.OPTIONGROUPINC\\Desktop\\Jobs\\UpdateAmazonInventory\\AmazonInventoryResult.xml"/>
    <add key="uploadfilePath" value="C:\\Users\\administrator.OPTIONGROUPINC\\Desktop\\Jobs\\UpdateAmazonInventory\\AmazonInventoryForUpload.xml"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>