<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--Iteza0923,framelegend,garyng629,autoparts2013,motovehicleparts,framegeneration-->
      <add key="exceptList" value="framelegend,garyng629,autoparts2013"/>
      <add key="marketplace" value="Data Source=KADEPOT-THINK\SQLEXPRESS; Initial Catalog=Marketplace; User ID=sa; pwd=123456;"/>
      <add key="pebbledon" value="Data Source=KADEPOT-THINK\SQLEXPRESS; Initial Catalog=Pebbledon; User ID=sa; pwd=123456;"/>
      <add key="defaultCarrier" value="USPS"/>
      <add key="senderEmail" value="linjiajianyuan@gmail.com"/>
      <add key="messageFromPassword" value="linluoyao0214"/>
      <add key="messageToEmail" value="linjiajianyuan@gmail.com"/>
      <add key="smtpClient" value="smtp.gmail.com"/>
      <add key="smtpPortNum" value="587"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>