<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DhlApi" />
                <binding name="DhlApiSecure">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ifslabelservice.com/api/DhlApi.svc"
                binding="basicHttpBinding" bindingConfiguration="DhlApi" contract="ServiceReference1.IDhlWebApi"
                name="DhlApi" />
            <endpoint address="https://ifslabelservice.com/api/DhlApi.svc"
                binding="basicHttpBinding" bindingConfiguration="DhlApiSecure"
                contract="ServiceReference1.IDhlWebApi" name="DhlApiSecure" />
        </client>
    </system.serviceModel>
</configuration>